.divForm{
    padding: 5px;
    width: 1500px;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.botao{
    margin-top: 10px;
}

input[type=date]{ 
    font-size: large;
}

span{
    font-size: large;
}