.divForm{
    padding: 5px;
    width: 1500px;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

td{
    padding: 5px;
    text-align: center;
    font-size: 18px;
}

th{
    width: 400px;
    text-align: center;
    font-size: 25px;
}

.acao{
    border: 0px rgb(158, 159, 235);
    background-color: rgb(158, 159, 235);
}