.container{
    width: 360px;    
    max-height: 280px;
    font-size: 15px;
    margin: 0 auto;
    text-align: center;
}

.colNormal {
    border: solid 1px;   
    min-width: 95px;
    max-height: 20px;
}

.colSel {
    border: solid 1px;
    min-width: 35px;
    max-height: 20px;
}

tbody,thead{
    display: block;
    width: 330px;
}

tbody {
    overflow-y: auto;    
    height: 112px;    
}

::-webkit-scrollbar-track {
    background-color: #000000;
    border-radius: 5px;    
}
::-webkit-scrollbar {
    width: 5px;
    background: #F4F4F4;
    border-radius: 5px;    
}
::-webkit-scrollbar-thumb {
    background: #F4F4F4; 
    border-radius: 5px;       
}